[submodule "cue.mod/pkg/github.com/prometheus-operator/kube-prometheus"]
	path = cue.mod/pkg/github.com/prometheus-operator/kube-prometheus
	url = git@github.com:prometheus-operator/kube-prometheus.git
