cni:
  exclusive: false

kubeProxyReplacement: strict
k8sServiceHost: nucles.localdomain
k8sServicePort: 6443

bpf:
  masquerade: true
  tproxy: true

l7proxy: true

envoy:
  enabled: true
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy:
      - NET_BIND_SERVICE
      - NET_ADMIN
      - BPF

gatewayAPI:
  enabled: true
  secretsNamespace:
    name: kube-system
    create: false

bgpControlPlane:
  enabled: true

l2announcements:
  enabled: true

externalIPs:
  enabled: true

hubble:
  relay:
    enabled: true
  ui:
    enabled: true
